<h3>This is urls/show</h3>
  <p><%= @url.long_url%></p>
  <p><%= @url.short_url%></p>
  <%= link_to 'Back', urls_path %>
  <!-- The code below links us back to the index page -->

<!-- The pathname urls_path was obtained from the prefix of the #index action when we run bundle exec rails routes . -->


<!-- <a href = "/">Back</a> -->
